<section class="bg-grey-50 border-bottom-1 border-grey-200 relative ">
	<div class="container">
		<section class="padding-30">
			<div class="container text-center">
				<h2 class="font-size-22 font-weight-300">
					We would like to hear <span class="font-weight-500">about
						you</span> just send us a message!
				</h2>
			</div>
		</section>

		<section
			class="border-top-1 border-bottom-1 border-grey-400 section no-padding no-margin">
			<div id="map" class="height-300">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.3621790007046!2d-6.846551184810862!3d34.00891318061768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76c7d6ac12571%3A0x3b8dfb27d936ccb2!2sInstitut+sup%C3%A9rieur+d&#39;ing%C3%A9nierie+et+des+affaires!5e0!3m2!1sfr!2sfr!4v1495315514436"
					width="500" height="300" frameborder="0" style="border: 0"
					allowfullscreen></iframe>
			</div>
		</section>

		<section class="overflow-hidden">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="title">
							<h4>
								<i class="fa fa-envelope"></i> Lets Get In Touch!
							</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Nulla quis facilisis justo.</p>
						</div>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email"
									required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Subject"
									required>
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="7" placeholder="Message"></textarea>
							</div>
							<div class="text-center margin-top-30">
								<button type="button"
									class="btn btn-primary btn-lg btn-rounded btn-shadow">Send
									Message</button>
							</div>
						</form>
					</div>
					<div class="col-lg-5 height-300">
						<img src="img/content/contact.jpg" class="image-right" alt="">
					</div>
				</div>
			</div>
		</section>
	</div>

</section>