<section
	class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300">
	<div class="container">
		<div class="headline">
			<h4>Recent Games</h4>

			<input type="text" class="form-control hidden-xs"
				placeholder="Search Game..."
				ng-keypress="chercherUnjeux(nom,$event)" ng-model="nom">

			<div class="dropdown">
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">
						Cat&eacute;gorie <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="c in categories" ng-click="chercher(1)"><a>{{c.nom}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-grey-50 border-bottom-1 border-grey-200 relative ">
	<div class="container">
		<div class="row">
			<div ng-repeat="j in pageJeux.content"
				class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="card" style="cursor: pointer;" data-toggle="modal"
					data-target=".bs-modal{{j.idJeux}}">
					<div class="card-img">
						<a><img src="{{j.urlImage}}" alt=""></a>
						<div class="category">
							<span class="label label-success">{{j.categorie.nom}}</span>
						</div>
						<div class="meta">
							<a><i class="fa fa-heart-o"></i> <span>15</span></a>
						</div>
					</div>
					<div class="caption">
						<h3 class="card-title">
							<a>{{j.nom}}</a>
						</h3>
						<ul>
							<li>{{j.dateSortie | date }}</li>
						</ul>
						<p>{{j.description}}</p>
					</div>
				</div>
				<div class="modal fade bs-modal{{j.idJeux}}" tabindex="-1"
					role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="panel panel-default panel-post">
									<div class="panel-body">
										<div class="post">
											<div class="post-header post-author">
												<div class="post-title">
													<h3>
														<a href="#">{{j.nom}}</a>
													</h3>
													<ul class="post-meta">
														<li><i class="fa fa-calendar-o"></i> {{j.dateSortie |
															date}}</li>
													</ul>
												</div>
											</div>

											<div
												class="embed-responsive embed-responsive-16by9 post-thumbnail">
												<img alt="{{j.titre}}" src="{{j.urlImage}}">
											</div>
											<h4>
												Prix : <a><i class="fa fa-money"></i> {{j.prix}} MAD</a>
											</h4>
											<br />
										</div>
									</div>
									<div class="panel-footer">Description : {{j.description}}
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-warning"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Ajouter
									au pannier</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
			</div>


		</div>

		<ul ng-if="pages.length > 1" class="pagination margin-top-20">
			<li ng-class="{disabled: pageCourant == 0}" style="cursor: pointer;"
				ng-click="goToPage(pageCourant - 1)"><a>Pr&eacute;cedent</a></li>
			<li ng-repeat="p in pages track by $index" style="cursor: pointer;"
				ng-click="goToPage($index)"
				ng-class="{active: pageCourant == $index }"><a>{{$index +
					1}}</a></li>
			<li ng-class="{disabled: pages.length == (pageCourant + 1)}"
				style="cursor: pointer;" ng-click="goToPage(pageCourant + 1)"><a>Suivant</a></li>
		</ul>
	</div>
</section>
