<section class="bg-grey-50 padding-top-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 padding-right-20">

                        <div class="panel panel-default panel-post">
                            <div class="panel-body">
                                <div class="post">


                                    <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vSteQ_wlB94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 padding-left-20">
                        <div class="widget widget-game" style="background-image: url(img/game/game-widget.jpg);">
                            <div class="overlay">
                                <div class="title">The Withcer 3: Wild Hunt</div>

                                <div class="bold text-uppercase">Platforms</div>
                                <span class="label label-primary">PS4</span>
                                <span class="label label-warning">PC</span>
                                <span class="label label-success">Xbox</span>

                                <div class="bold text-uppercase margin-top-40">Prix</div>
                                <span class="font-size-13">150 DHS</span>

                                <div class="bold text-uppercase margin-top-35">Release Date</div>
                                <span class="font-size-13">June 18, 2015</span>

                                <div class="description">
                                    The Witcher 3: Wild Hunt is a story-driven, next-generation open world role-playing game, set in a visually stunning fantasy universe, full of meaningful choices and impactful consequences.
                                    <a href="#" class="btn btn-block btn-primary margin-top-40">Acheter maintenant <i class="fa fa-shopping-cart margin-left-10"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    
