

<section class="padding-top-40 padding-bottom-40">
	<div class="container">
		<table>
			<tr>
				<td style="width: 65%">
					<div class="row sidebar">
						<table>
							<tr>
								<td>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leftside">
										<div class="headline margin-top-20">
											<h4>Recommended Posts</h4>
										</div>
										<div class="row">
											<div ng-repeat="j in lastJeux"
												class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-sm-30">
												<div class="card card-post">
													<div class="card-img">
														<img src="{{j.urlImageBlockMd}}" alt="">
														<div class="meta">
															<a href="games-single.html"><i class="fa fa-heart-o"></i>
																<span>{{j.avis}}</span></a>
														</div>
													</div>
													<div class="caption">
														<h3 class="card-title">
															<a href="games-single.html">{{j.nom}}</a>
														</h3>
														<ul>
															<li><i class="fa fa-clock-o"></i> {{j.dateSortie | date }}</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							<tr>
								<td>
									<div class="headline margin-top-40">
										<h4>Recent Videos</h4>
									</div>
									<div class="tab-content no-border no-padding"
										style="width: 50%">
										<div id="vid1"
											class="embed-responsive embed-responsive-16by9 tab-pane fade in active">
											<iframe class="embed-responsive-item"
												src="http://www.youtube.com/embed/jhv3Jq6O-nw?rel=0&amp;showinfo=0"
												allowfullscreen></iframe>
										</div>
									</div>

								</td>
							</tr>
						</table>
					</div>
				</td>
				<td style="width: 35%">

					<div class="col-sm-12 col-xs-12 rightside"
						style="width: 100%%">
						<div class="widget widget-games">
							<div class="title">Top Upcoming Games</div>
							<ul>
								<li ng-repeat="j in topJeux track by $index"
									style="background-image: url({{j.urlImageBar}});"><a
									href="#" class="overlay"> <span class="number">{{$index
											+ 1}}</span>
										<div class="game-meta">
											<h4 class="game-title">{{j.nom}}</h4>
											<span>{{j.dateSortie | date }}</span>
										</div>
								</a></li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	</div>
</section>


